@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap');

* {
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
 }
  

.container {
    margin: 16px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

.purple {
    color: #6145ff;
}

/*

Navigation

*/


nav {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 8px 0px;
}

.nav__img {
    width: 40px;
    margin: 0 12px 0 0;
}

.nav__img--wrapper {
    display: flex;
    align-items: center;
    transition: 300ms ease;
}

.nav__img--wrapper:hover {
    color: #6145ff;
    cursor: pointer;
}

.nav__img--title{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 0px;
    margin: 8px 0;
    padding: 0 0 4px;
}

.nav__list {
    display: flex;
    justify-content: space-around;
   
}

.nav__list--item {
    margin: 0px 18px;
    list-style-type: none;
    font-weight: 500;
    cursor: pointer;
    transition:  200ms ease;
}

.link__hover--effect:hover {
    text-decoration: underline 3px;
    color: #6145ff;
}


.nav__login {
    padding: 0 12px 0 48px;
}

.nav__list--item-primary {
    background-color: #6145ff;
    border-radius: 24px;
    color: white;
    padding: 12px 32px;
}

.nav__list--item-primary:hover {
    opacity: 0.9;
}

/*

Home

*/

.home__wrapper {
    display: flex;
    padding: 6rem 0;
}

.home__text {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.home__text--head {
    font-size: 48px;

}

.home__text--para {
    font-size: 18px;
    font-weight: 400;
    padding: 3rem 0;
    word-spacing: 4x;
    line-height: 1.5;
}

/*

Emailing section

*/

.c {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
    padding: 4px;
    width: 100%;
    max-width: 420px;
  }
  .c input {
    font-size: 16px;
    font-weight: bold;
    padding-left: 16px;
    border: none;
    outline: none;
    flex: 1;
    opacity: 0.5;
  }
  .c button {
    font-size: 16px;
    font-weight: bold;
    border-radius: 99999px;
    background-color: rgba(100, 21, 255, 1);
    color: rgba(247, 250, 252, 1);
    border: none;
    padding: 16px 36px;
}


.home__customers {
    padding: 80px 20px 0 0;
    opacity: 0.5;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.home__customers--para {
    margin: 10px 0px;
    font-weight: bold;
}

.home__customer-logo {
    width: 100%;
    max-width: 530px;

}

.home__img {
    width: 60%;
}

/*

Features 

*/

fwrapper {
    
}



